/* CSS principal: aux balises */
body {
    background: linear-gradient(to bottom right, #0b0b0b, #5f0000);
    color: #FFFFFF;
    display: flex;
    margin: 0;   
}
main {
    width: 95%;
    max-width: 1000px;
    margin: 2% auto;
    padding: 2rem;
    flex: 1;
    padding: 10px;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: #FF0000;
}

.lien-off a{
    text-decoration: none;
    color: #5ab0f7;text-decoration: none;transition: color 0.3s;}
.lien-off a:hover {
    text-decoration: underline;color: #ffffff;
}

/* === Barre de navigation === */
header {
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  list-style-type: none; /* Pour éviter d'avoir des puces */
  display: flex;
  flex-wrap: wrap; /* Adaptation */
}

header li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover:not(.active) {
  background-color: #770000; /* Couleur quand la souris passe dessus */
}

header li a.active {
  background-color: #550000; /* Couleur de celle active */
}

/* Menu déroulant */
.bloc_base {
  color: white;
  padding: 14px 16px;
  font-family: 'Arial';
  border: none;
  cursor: pointer; /* Curseur en forme de main */
}

.bloc-interne {
  display: none; /* Caché par défaut */
  position: absolute; 
  background-color: none;
  min-width: 200px;
}

.bloc-interne a {
  color: white; 
  display: block;   /* Affichage en bloc pour prendre toute la largeur */
  text-decoration: none; 
}

.bloc:hover .bloc-interne {
  display: block; /* Affiche le menu au survol */
}

.bloc:hover .bloc_base {
  background-color: #770000;
}
/* ============================================= */

/* Sidebar à gauche, comme le header */
.barre-laterale {
    width: 200px;               /* largeur fixe */
    background: none;  /* même couleur que header actif */
    display: flex;
    flex-direction: column;     /* menu vertical */
    list-style: none;
    padding: 0;
    margin: 0;
    position: sticky;           /* reste visible en scroll */
    top: 0;
    height: 100vh;              /* prend toute la hauteur */
}

.barre-laterale li {
    width: 100%;
}

.barre-laterale a {
    display: block;
    padding: 14px 16px;        /* même que header */
    text-decoration: none;
    color: white;
}

.barre-laterale a:hover:not(.active) {
    background-color: #770000; /* comme header hover */
}

.barre-laterale a.active {
    background-color: #550000; /* comme header actif */
}


