/* CSS principal: aux balises */
body {
  background: linear-gradient(to bottom right, #0b0b0b, #702500);
  background-attachment: fixed;

  font-family: 'Spectral', serif;
  line-height: 1.6;
}
main {
  width: 95%;
  max-width: 1000px;
  margin: 2% auto;
  padding: 2rem;
}

footer {
  text-align: center;
}

h1, h2 {
  color: #FF0000;
  font-family: 'Marcellus', serif;
  letter-spacing: 0.5px;
}

p, h3, h4, li {
  color:#ffffff;
}

.encadre {
  border: 3px solid #ffffff;
  padding: 10px;
}

.lien-off a{
  text-decoration: none;
  color: #5ab0f7;text-decoration: none;transition: color 0.3s;}
.lien-off a:hover {
  text-decoration: underline;color: #ffffff;
}

/* === Barre de navigation === */
header {
  list-style-type: none; /* Pour éviter d'avoir des puces */
  flex-wrap: wrap; /* Adaptation */

  display: flex;
  top: 0;
  position: sticky;

  background-color: #0b0b0b;
}

header li a {
  display: block;

  color: white;
  font-family: 'Marcellus', serif;
  text-decoration: none;

  padding: 14px 16px;
}

header li a:hover:not(.active) {
  background-color: #1b1b1b; /* Couleur quand la souris passe dessus */
}

header li a.active {
  background-color: #550000; /* Couleur de celle active */
}

/* Menu déroulant */
.bloc_base {
  color: white;
  font-family: 'Marcellus', serif;

  padding: 14px 16px;
  border: none;

  cursor: pointer; /* Curseur en forme de main */
}

.bloc-interne {
  background-color: #0b0b0b;

  display: none; /* Caché par défaut */
  position: absolute; 

  min-width: 200px;
}

.bloc-interne a {
  color: white; 
  text-decoration: none;

  display: block;   /* Affichage en bloc pour prendre toute la largeur */
}

.bloc:hover .bloc-interne {
  display: block; /* Affiche le menu au survol */
}

.bloc:hover .bloc_base {
  background-color: #770000;
}
/* ============================================= */

/* === ONGLETS === */

/* Conteneur des onglets */
.onglets {
  display: flex;
  margin-bottom: 0;
}

/* Boutons d’onglets */
.tab-btn {
  padding: 12px 20px;
  font-size: 16px;
  margin: 0;

  background-color: #0b0b0b;
  color: white;
  font-family: 'Marcellus', serif;

  border: 1px solid #2b2b2b;
  border-radius: 6px;

  cursor: pointer;
  user-select: none;
}

/* Hover */
.tab-btn:hover {
  background-color: #1b1b1b;
}

/* Onglet actif */
.tab-btn.actif {
  background-color: #550000;
}

/* Contenu caché */
.tab-contenu {
  display: none;

  padding: 15px;

  background: none;
  border: 1px solid #2b2b2b;
  border-radius: 6px;
}

/* Contenu actif */
.tab-contenu.actif {
  display: block;
}

/* ============================================= */