/* CSS principal: aux balises */
body {
    background: linear-gradient(to bottom right, #0b0b0b, #5f0000);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    width: 95%;
    max-width: 1000px;
    margin: 2% auto;
    padding: 2rem;
}

footer {
    text-align: center;
}

h1, h2 {
    color: #FF0000;
}

p, h3, h4, li {
  color:#ffffff;
}

.encadre {
 border: 3px solid #ffffff;
 padding: 10px;
}

.lien-off a{
    text-decoration: none;
    color: #5ab0f7;text-decoration: none;transition: color 0.3s;}
.lien-off a:hover {
    text-decoration: underline;color: #ffffff;
}

/* === Barre de navigation === */
header {
  list-style-type: none; /* Pour éviter d'avoir des puces */
  display: flex;
  flex-wrap: wrap; /* Adaptation */
  top: 0;
  position: sticky;
  background-color: #0b0b0b;
}

header li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover:not(.active) {
  background-color: #1b1b1b; /* Couleur quand la souris passe dessus */
}

header li a.active {
  background-color: #550000; /* Couleur de celle active */
}

/* Menu déroulant */
.bloc_base {
  color: white;
  padding: 14px 16px;
  font-family: 'Arial';
  border: none;
  cursor: pointer; /* Curseur en forme de main */
}

.bloc-interne {
  display: none; /* Caché par défaut */
  position: absolute; 
  background-color: #0b0b0b;
  min-width: 200px;
}

.bloc-interne a {
  color: white; 
  display: block;   /* Affichage en bloc pour prendre toute la largeur */
  text-decoration: none; 
}

.bloc:hover .bloc-interne {
  display: block; /* Affiche le menu au survol */
}

.bloc:hover .bloc_base {
  background-color: #770000;
}
/* ============================================= */

/* === ONGLETS === */

/* Conteneur des onglets */
.onglets {
  display: flex;
  margin-bottom: 0;
}

/* Boutons d’onglets */
.tab-btn {
  padding: 12px 20px;
  background-color: #0b0b0b;
  color: white;
  border: 1px solid #2b2b2b;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  margin: 0;
}

/* Hover */
.tab-btn:hover {
  background-color: #1b1b1b;
}

/* Onglet actif */
.tab-btn.actif {
  background-color: #550000;
}

/* Contenu caché */
.tab-contenu {
  display: none;
  background: none;
  padding: 15px;
  border: 1px solid #2b2b2b;
  border-radius: 6px;
}

/* Contenu actif */
.tab-contenu.actif {
  display: block;
}

/* ============================================= */