/* CSS principal: aux balises */
body {
    background: linear-gradient(to bottom right, #0b0b0b, #5f0000);
    color: #FFFFFF;
}
main {
    width: 95%;
    max-width: 1000px;
    margin: 2% auto;
    padding: 2rem;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: #FF0000;
}

.lien-off a{
    text-decoration: none;
    color: #5ab0f7;text-decoration: none;transition: color 0.3s;}
.lien-off a:hover {
    text-decoration: underline;color: #ffffff;
}

/* === Barre de navigation === */
header {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none; /* Pour éviter d'avoir des puces */
  display: flex;
  flex-wrap: wrap; /* Adaptation */
  top: 0;
  position: sticky;
}

header li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover:not(.active) {
  background-color: #770000; /* Couleur quand la souris passe dessus */
}

header li a.active {
  background-color: #550000; /* Couleur de celle active */
}

/* Menu déroulant */
.bloc_base {
  color: white;
  padding: 14px 16px;
  font-family: 'Arial';
  border: none;
  cursor: pointer; /* Curseur en forme de main */
}

.bloc-interne {
  display: none; /* Caché par défaut */
  position: absolute; 
  background-color: none;
  min-width: 200px;
}

.bloc-interne a {
  color: white; 
  display: block;   /* Affichage en bloc pour prendre toute la largeur */
  text-decoration: none; 
}

.bloc:hover .bloc-interne {
  display: block; /* Affiche le menu au survol */
}

.bloc:hover .bloc_base {
  background-color: #770000;
}
/* ============================================= */

/* === ONGLETS === */

/* Conteneur des onglets */
.tabs {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Cacher les boutons radio */
.tabs input[type="radio"] {
  display: none;
}

/* Style des titres d’onglets */
.tabs label {
  padding: 12px 22px;
  background-color: #2b2b2b;
  color: white;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #444;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  margin-right: 4px;
  user-select: none;   /* pour éviter la sélection de texte */
  transition: background 0.2s;
}

/* Hover */
.tabs label:hover {
  background-color: #3a3a3a;
}

/* Onglet actif */
.tabs input[type="radio"]:checked + label {
  background-color: #ffffff;  /* couleur visible → carré */
  color: #000;
  border-bottom: 1px solid white; /* se fond avec le contenu */
}

/* Le bloc de contenu */
.tab-content {
  display: none;
  padding: 20px;
  background: #ffffff;
  color: #000;
  border: 1px solid #444;
  border-radius: 0 6px 6px 6px;
}

/* Affichage du bon contenu selon l’onglet */
#tab1:checked ~ #content1 {
  display: block;
}
#tab2:checked ~ #content2 {
  display: block;
}

/* ============================================= */